<div
  class="scroller"
  [attr.data-direction]="direction()"
  [attr.data-speed]="speed()"
  [attr.data-animated]="isAnimated()"
>
  <div class="tag-list scroller__inner">
    @for (item of items(); track $index) {
      <a target="_blank" [href]="item.url" [class.test]="$first">{{ item.name }}</a>
    }

    @if (isAnimated()) {
      @for (item of items(); track $index) {
        <a target="_blank" [href]="item.url" [class.test]="$first" aria-hidden="true">{{ item.name }}</a>
      }
    }
  </div>
</div>
